html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url(https://image.freepik.com/vector-gratis/fondo-de-la-torre-eiffel-y-objetos-de-moda-dibujados-a-mano_1215-324.jpg);
    /* opacity: 0.2; */
}

#topbar {
    height: 120px;
    margin: 0px 0px 0px 160px;
    margin-top: 15px;
    width: 850px;
}
